/* 
"""
Full-Stack Engineer

Author: Abdur Rahman Roky,
email: mdroky2016s.s.c@gmail.com
github: https://github.com/startup-Git
"""
*/

/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* basic css code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #ff461e;
  --secondary-color: #ffc107;
  --white-color: #fff;
  --gray-color: #6e6e6e;
}
/* basic css code end*/

/* navbar css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  line-height: 72px;
  position: relative;
}
.container {
  max-width: 100%;
  padding: 0 20px;
}
/* navbar css end */

/* logo */
.navbar-logo {
  line-height: normal;
}
.navbar-logo a img {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 2px solid var(--secondary-color);
  transform: scale(1);
  transition: 0.8s ease-in-out;
}
.navbar-logo a img:hover {
  transform: scale(1.15);
  border: 2px solid var(--primary-color);
}
/* logo */

/* navbar menu */
.navbar-menu {
  display: none;
}
.navbar-menu ul {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  line-height: normal;
  gap: 10px;
  align-items: center;
}
.navbar-menu ul li {
  list-style: none;
  padding: 0 20px;
}
.navbar-menu ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s ease;
}
.navbar-menu ul li a:hover {
  color: var(--primary-color);
}

/* navbar-button */
.navbar-button .btn {
  content: "";
  position: absolute;
  top: 240px;
  left: 20px;
  display: none;
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: normal;
  color: var(--secondary-color);
  font-size: 16px;
  transition: 0.5s ease-in-out;
}
.navbar-button a.btn:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* navbar-hide menu-btn */
.navbar-hidemenu-btn {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: normal;
  cursor: pointer;
  color: var(--secondary-color);
  transition: 0.5s ease-in-out;
}
.navbar-hidemenu-btn:hover {
  color: var(--primary-color);
}

/* navbar hide menu btn css end */

/* hero */
.hero {
  background: url(../img/bg.jpg) no-repeat center center/cover;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}
.hero-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-header {
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  text-align: left;
  color: var(--white-color);
}
.hero-paragraph {
  color: var(--white-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
}
.hero-button .btn {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: normal;
  color: var(--secondary-color);
  font-size: 16px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.hero-button .btn:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}
/* hero end */

/* about */
.about{
  padding: 20px 0;
}
.about-header{
  text-align: center;
  font-size: 30px;
}
.about-h-info{
  text-align: center;
  color: var(--gray-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin: 20px 0;
}
.about-paragraph{
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: justify;
  line-height: 20px;
}
.contact-paragraph{
  margin-bottom: 20px;;
  text-align: justify;
  line-height: 20px;
}
.p-1{
  color: var(--gray-color);
}
.w{
  color: var(--white-color);
}
.about-photo{
  text-align: center;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.about-photo img{
  width: 100%;
  height: 300px;
  padding: 0 20px;
}
.contact{
  background-color: var(--gray-color);
  padding: 40px 20px;
}
.contact h1{
  font-size: 30px;
  color: var(--white-color);
}
.form-control{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px 0;
  border: 2px solid var(--secondary-color);
}
.form-control:focus{
  border: 2px solid var(--primary-color);
  outline: none;
}
.contact form a.btn{
  background-color: var(--primary-color);
  width: 100%;
  height: 40px;
  color: var(--white-color);
}
.contact form a {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 20px 0;
  line-height: 48px;
  text-decoration: none;
  border-radius: 5px;
}

/* footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  width: 100%;
  font-size: 14px;
}
.footer p {
  margin: 5px 0;
}
.footer a {
  color: #007BFF;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
/* footer end */